scripts

*.py[cod]
__pycache__

# Misc
*.old
*.bak
*.bak*
* - Copie.*
* - Copy.*
*.tmp
*.lnk
tmp
bak
*.db
TODEL
TODO
/tests/objects/*_serialized.*

# jupyter
.ipynb_checkpoints
*.ipynb

# C extensions
*.so
*.dll
*.obj
*.o
*.pdb

# Packages
*.jar
*.egg
*.egg-info
dist
build
.eggs
parts
bin
binaries
binaries-dbg
var
sdist
develop-eggs
.installed.cfg
lib
lib64
venv*/
pyvenv*/
cache
builds
distrib
static-collect

# Installer logs
pip-log.txt
*.log
*.lock*
logs

# Unit test / coverage reports
.coverage
.tox
.coverage.*
nosetests.xml
htmlcov

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea
*.iml
*.komodoproject
*.pyproj
*.sln

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

.DS_Store
*~
.*.sw[po]
.build
.vs
.bootstrap
.pypirc

# Cookiecutter
.cookiecutterrc
output/
boilerplate/
python-nameless
